<a href="https://colab.research.google.com/github/IsraelMelMon/Proyectos/blob/master/feature_eng_ml_kueski.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we compute two features for the movielens ratings dataset. Each row of the dataset consists of the rating a user gave to certain movie. 

These features are roughly defined as follows:

**nb_previous_ratings:** number of ratings a user has given, prior to the current rating. 

**avg_ratings_previous:** average of the ratings a user has given, prior to the current rating.

We have the following problem: the ratings dataset is big (20M rows), and the feature `avg_ratings_previous` takes just too long to be computed for all the rows of the dataset (at least the way it's implemented). 

We have truncated the dataset so that this code runs quickly.

We begin by extracting and truncating the dataset

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_ratings = pd.read_csv("drive/MyDrive/rating.csv")

In [ ]:
df_ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [ ]:
# This will be the response variable of the model. Not used in this notebook, just added to give context.
df_ratings["rating_binary"] = df_ratings.rating.apply(lambda x: 1 if x >= 4 else 0)
df_ratings

          userId  movieId  rating            timestamp  rating_binary
0              1        2     3.5  2005-04-02 23:53:47              0
1              1       29     3.5  2005-04-02 23:31:16              0
2              1       32     3.5  2005-04-02 23:33:39              0
3              1       47     3.5  2005-04-02 23:32:07              0
4              1       50     3.5  2005-04-02 23:29:40              0
...          ...      ...     ...                  ...            ...
20000258  138493    68954     4.5  2009-11-13 15:42:00              1
20000259  138493    69526     4.5  2009-12-03 18:31:48              1
20000260  138493    69644     3.0  2009-12-07 18:10:57              0
20000261  138493    70286     5.0  2009-11-13 15:42:24              1
20000262  138493    71619     2.5  2009-10-17 20:25:36              0

[20000263 rows x 5 columns]

In [ ]:
# Here we truncate the dataset
df_ratings_truncated = df_ratings.loc[0:100000, :]

We now proceed to compute the first feature: `nb_previous_ratings`

In [ ]:
df_ratings_truncated = df_ratings_truncated.sort_values(by=["userId", "timestamp"])
df_ratings_truncated = df_ratings_truncated.reset_index(drop=True)
df_ratings_truncated["timestamp"] = pd.to_datetime(df_ratings_truncated.timestamp)
df_ratings_truncated

        userId  movieId  rating           timestamp  rating_binary
0            1      924     3.5 2004-09-10 03:06:38              0
1            1      919     3.5 2004-09-10 03:07:01              0
2            1     2683     3.5 2004-09-10 03:07:30              0
3            1     1584     3.5 2004-09-10 03:07:36              0
4            1     1079     4.0 2004-09-10 03:07:45              1
...        ...      ...     ...                 ...            ...
99996      702      489     0.5 2004-09-19 21:43:56              0
99997      702     1005     0.5 2004-09-19 21:46:36              0
99998      702      102     0.5 2004-09-19 21:47:08              0
99999      702      437     1.0 2004-09-19 21:47:27              0
100000     702      193     1.0 2004-09-19 21:50:00              0

[100001 rows x 5 columns]

In [ ]:
df_grouped = df_ratings_truncated.groupby("userId")
df_ratings_truncated["nb_previous_ratings"] = df_grouped["timestamp"].rank(method="first") - 1

In [ ]:
df_ratings_truncated

        userId  movieId  ...  rating_binary nb_previous_ratings
0            1      924  ...              0                 0.0
1            1      919  ...              0                 1.0
2            1     2683  ...              0                 2.0
3            1     1584  ...              0                 3.0
4            1     1079  ...              1                 4.0
...        ...      ...  ...            ...                 ...
99996      702      489  ...              0               203.0
99997      702     1005  ...              0               204.0
99998      702      102  ...              0               205.0
99999      702      437  ...              0               206.0
100000     702      193  ...              0               207.0

[100001 rows x 6 columns]

We now compute the second feature: `avg_ratings_previous`

In [ ]:
def avg_previous(df):
    avg = pd.Series(index=df.index)
    for i in df.index:
        df_aux = df.loc[df.timestamp < df.timestamp.loc[i], :]
        avg.at[i] = df_aux.rating.mean()
    return avg

In [ ]:
import warnings
from time import *
warnings.filterwarnings('ignore')

In [ ]:
avg_ratings_previous = pd.Series()
initial_time = time()
# the following cycle is the one that takes forever if we try to compute it for the whole dataset
for user in df_ratings_truncated.userId.unique():
    df_user = df_ratings_truncated.loc[df_ratings_truncated.userId == user, :]
    avg_ratings_previous = avg_ratings_previous.append(avg_previous(df_user))
end_time = time()
print("naive computation time (s): ", end_time-initial_time)
avg_ratings_previous

naive computation time (s):  80.72360944747925

0              NaN
1         3.500000
2         3.500000
3         3.500000
4         3.500000
            ...
99996     2.871921
99997     2.860294
99998     2.848780
99999     2.837379
100000    2.828502
Length: 100001, dtype: float64

In [ ]:
df_ratings_truncated["avg_ratings_previous"] = avg_ratings_previous
df_ratings_truncated.head(10)

   userId  movieId  ...  nb_previous_ratings avg_ratings_previous
0       1      924  ...                  0.0                  NaN
1       1      919  ...                  1.0             3.500000
2       1     2683  ...                  2.0             3.500000
3       1     1584  ...                  3.0             3.500000
4       1     1079  ...                  4.0             3.500000
5       1      653  ...                  5.0             3.600000
6       1     2959  ...                  6.0             3.500000
7       1      337  ...                  7.0             3.571429
8       1     1304  ...                  8.0             3.562500
9       1     3996  ...                  9.0             3.500000

[10 rows x 7 columns]

PySpark and Java installation

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
#!wget -q https://www-us.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

we initiate the Spark session

In [ ]:
import findspark
findspark.init()
import pandas_gbq
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

we create a pyspark sqlcontext of the truncated DataFrame (we use the truncated dataframe for illustrative purposes)

In [ ]:
sqlc_truncated_ratings = sqlContext.createDataFrame(df_ratings_truncated.iloc[:,:-1])
sqlc_truncated_ratings.show()

+------+-------+------+-------------------+-------------+-------------------+
|userId|movieId|rating|          timestamp|rating_binary|nb_previous_ratings|
+------+-------+------+-------------------+-------------+-------------------+
|     1|    924|   3.5|2004-09-10 03:06:38|            0|                0.0|
|     1|    919|   3.5|2004-09-10 03:07:01|            0|                1.0|
|     1|   2683|   3.5|2004-09-10 03:07:30|            0|                2.0|
|     1|   1584|   3.5|2004-09-10 03:07:36|            0|                3.0|
|     1|   1079|   4.0|2004-09-10 03:07:45|            1|                4.0|
|     1|    653|   3.0|2004-09-10 03:08:11|            0|                5.0|
|     1|   2959|   4.0|2004-09-10 03:08:18|            1|                6.0|
|     1|    337|   3.5|2004-09-10 03:08:29|            0|                7.0|
|     1|   1304|   3.0|2004-09-10 03:08:40|            0|                8.0|
|     1|   3996|   4.0|2004-09-10 03:08:47|            1|                9.0|
|     1|    151|   4.0|2004-09-10 03:08:54|            1|               10.0|
|     1|    112|   3.5|2004-09-10 03:09:00|            0|               11.0|
|     1|   1374|   4.0|2004-09-10 03:09:06|            1|               12.0|
|     1|   1246|   3.5|2004-09-10 03:09:19|            0|               13.0|
|     1|   1370|   3.0|2004-09-10 03:09:24|            0|               14.0|
|     1|   2291|   4.0|2004-09-10 03:09:37|            1|               15.0|
|     1|   4306|   4.0|2004-09-10 03:09:44|            1|               16.0|
|     1|   1214|   4.0|2004-09-10 03:12:57|            1|               17.0|
|     1|   1278|   4.0|2004-09-10 03:13:06|            1|               18.0|
|     1|   1219|   4.0|2004-09-10 03:13:14|            1|               19.0|
+------+-------+------+-------------------+-------------+-------------------+
only showing top 20 rows

we calculate the expanding average of every user (we see that this naive computation time is much less than using just Pandas in Python)

In [ ]:
sqlc_truncated_ratings.createOrReplaceTempView("sqlc_truncated_ratings")
spark_initial_time = time()


sqlc_truncated_ratings = spark.sql("""select *, 
                          avg(rating)
                          over (partition by userId order by userId, timestamp) * nb_previous_ratings / nb_previous_ratings
                          as avg_previous_ratings 
                          from sqlc_truncated_ratings
                          """)

spark_end_time = time()
print("naive spark computation time (s):", spark_end_time-spark_initial_time)
#sqlc_truncated_ratings.orderBy("userId","timestamp").show()
#sql_ratings_table= sqlc_truncated_ratings.orderBy("userId","timestamp")
#sqlc_truncated_ratings = spark.sql("""insert into sqlc_truncated_ratings select avg_previous_ratings.* from (select '6','FFF') avg_previous_ratings""")
sqlc_truncated_ratings = sqlc_truncated_ratings.orderBy("userId","timestamp").na.fill(0)
sqlc_truncated_ratings.show()

naive spark computation time (s): 0.28458642959594727
+------+-------+------+-------------------+-------------+-------------------+--------------------+
|userId|movieId|rating|          timestamp|rating_binary|nb_previous_ratings|avg_previous_ratings|
+------+-------+------+-------------------+-------------+-------------------+--------------------+
|     1|    924|   3.5|2004-09-10 03:06:38|            0|                0.0|                 0.0|
|     1|    919|   3.5|2004-09-10 03:07:01|            0|                1.0|                 3.5|
|     1|   2683|   3.5|2004-09-10 03:07:30|            0|                2.0|                 3.5|
|     1|   1584|   3.5|2004-09-10 03:07:36|            0|                3.0|                 3.5|
|     1|   1079|   4.0|2004-09-10 03:07:45|            1|                4.0|                 3.6|
|     1|    653|   3.0|2004-09-10 03:08:11|            0|                5.0|                 3.5|
|     1|   2959|   4.0|2004-09-10 03:08:18|            1|                6.0|  3.5714285714285716|
|     1|    337|   3.5|2004-09-10 03:08:29|            0|                7.0|              3.5625|
|     1|   1304|   3.0|2004-09-10 03:08:40|            0|                8.0|                 3.5|
|     1|   3996|   4.0|2004-09-10 03:08:47|            1|                9.0|                3.55|
|     1|    151|   4.0|2004-09-10 03:08:54|            1|               10.0|   3.590909090909091|
|     1|    112|   3.5|2004-09-10 03:09:00|            0|               11.0|   3.583333333333334|
|     1|   1374|   4.0|2004-09-10 03:09:06|            1|               12.0|  3.6153846153846154|
|     1|   1246|   3.5|2004-09-10 03:09:19|            0|               13.0|   3.607142857142857|
|     1|   1370|   3.0|2004-09-10 03:09:24|            0|               14.0|   3.566666666666667|
|     1|   2291|   4.0|2004-09-10 03:09:37|            1|               15.0|             3.59375|
|     1|   4306|   4.0|2004-09-10 03:09:44|            1|               16.0|  3.6176470588235294|
|     1|   1214|   4.0|2004-09-10 03:12:57|            1|               17.0|   3.638888888888889|
|     1|   1278|   4.0|2004-09-10 03:13:06|            1|               18.0|   3.657894736842105|
|     1|   1219|   4.0|2004-09-10 03:13:14|            1|               19.0|  3.6904761904761907|
+------+-------+------+-------------------+-------------+-------------------+--------------------+
only showing top 20 rows

we install mlflow

In [ ]:
!pip install mlflow 
!pip install tqdm
!pip install pyarrow
!pip install pyngrok

Collecting mlflow
  Downloading https://files.pythonhosted.org/packages/b6/69/c6b3911ccb421adc779390ca2ea54cb888a54e282d50e8d20ce751b5c7ab/mlflow-1.12.1-py3-none-any.whl (13.9MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13.9MB 294kB/s
Collecting databricks-cli>=0.8.7
  Downloading https://files.pythonhosted.org/packages/40/88/ae1f78cf582b707c605c77df49b4c8786a4465edc51adb25d2f98ef4c4de/databricks-cli-0.14.1.tar.gz (54kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 61kB 7.1MB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.1.5)
Collecting gunicorn; platform_system != "Windows"
  Downloading https://files.pythonhosted.org/packages/69/ca/926f7cd3a2014b16870086b2d0fdc84a9e49473c68a8dff8b57f7c156f43/gunicorn-20.0.4-py2.py3-none-any.whl (77kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 81kB 7.7MB/s
Collecting alembic<=1.4.1
  Downloading https://files.pythonhosted.org/packages/e0/e9/359dbb77c35c419df0aedeb1d53e71e7e3f438ff64a8fdb048c907404de3/alembic-1.4.1.tar.gz (1.1MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.1MB 42.8MB/s
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from mlflow) (2.8.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from mlflow) (3.12.4)
Collecting azure-storage-blob
  Downloading https://files.pythonhosted.org/packages/e7/5d/0bb4ed37da2523c393789b1d8ecbf56b1d35fa344af30fe423da2c06cbe9/azure_storage_blob-12.6.0-py2.py3-none-any.whl (328kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 337kB 36.3MB/s
Collecting querystring-parser
  Downloading https://files.pythonhosted.org/packages/88/6b/572b2590fd55114118bf08bde63c0a421dcc82d593700f3e2ad89908a8a9/querystring_parser-1.2.4-py2.py3-none-any.whl
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from mlflow) (3.13)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from mlflow) (7.1.2)
Collecting gitpython>=2.1.0
  Downloading https://files.pythonhosted.org/packages/24/d1/a7f8fe3df258549b303415157328bfcc63e9b11d06a7ad7a3327f3d32606/GitPython-3.1.11-py3-none-any.whl (159kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 163kB 51.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.19.4)
Requirement already satisfied: Flask in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.1.2)
Requirement already satisfied: requests>=2.17.3 in /usr/local/lib/python3.6/dist-packages (from mlflow) (2.23.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from mlflow) (0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.3.20)
Collecting prometheus-flask-exporter
  Downloading https://files.pythonhosted.org/packages/4c/d5/8a046d683c2cc084b6a502812827ede69b1064f95d93f94b83f809b21723/prometheus_flask_exporter-0.18.1.tar.gz
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from mlflow) (0.4.1)
Collecting docker>=4.0.0
  Downloading https://files.pythonhosted.org/packages/ef/b7/eb7b7138bb5e6d28cf84fa586fe594619ca097b6207caa5f2ebe0c66a4ed/docker-4.4.0-py2.py3-none-any.whl (146kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 153kB 49.6MB/s
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from mlflow) (1.3.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from databricks-cli>=0.8.7->mlflow) (0.8.7)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->mlflow) (2018.9)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.6/dist-packages (from gunicorn; platform_system != "Windows"->mlflow) (50.3.2)
Collecting Mako
  Downloading https://files.pythonhosted.org/packages/a6/37/0e706200d22172eb8fa17d68a7ae22dec7631a0a92266634fb518a88a5b2/Mako-1.1.3-py2.py3-none-any.whl (75kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 81kB 8.9MB/s
Collecting python-editor>=0.3
  Downloading https://files.pythonhosted.org/packages/c6/d3/201fc3abe391bbae6606e6f1d598c15d367033332bd54352b12f35513717/python_editor-1.0.4-py3-none-any.whl
Collecting cryptography>=2.1.4
  Downloading https://files.pythonhosted.org/packages/c9/de/7054df0620b5411ba45480f0261e1fb66a53f3db31b28e3aa52c026e72d9/cryptography-3.3.1-cp36-abi3-manylinux2010_x86_64.whl (2.6MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2.6MB 34.8MB/s
Collecting msrest>=0.6.10
  Downloading https://files.pythonhosted.org/packages/fa/f5/9e315fe8cb985b0ce052b34bcb767883dc739f46fadb62f05a7e6d6eedbe/msrest-0.6.19-py2.py3-none-any.whl (84kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 92kB 8.8MB/s
Collecting azure-core<2.0.0,>=1.9.0
  Downloading https://files.pythonhosted.org/packages/f8/4b/ea7faaafac956a168ab9a95a7ebe583f9d308e8332a68af0ed3128ef520c/azure_core-1.9.0-py2.py3-none-any.whl (124kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 133kB 49.0MB/s
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/48/11/d1800bca0a3bae820b84b7d813ad1eff15a48a64caea9c823fc8c1b119e8/gitdb-4.0.5-py3-none-any.whl (63kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 71kB 9.2MB/s
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow) (1.0.1)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow) (2.11.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.17.3->mlflow) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.17.3->mlflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.17.3->mlflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.17.3->mlflow) (3.0.4)
Requirement already satisfied: prometheus_client in /usr/local/lib/python3.6/dist-packages (from prometheus-flask-exporter->mlflow) (0.9.0)
Collecting websocket-client>=0.32.0
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 204kB 54.0MB/s
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic<=1.4.1->mlflow) (1.1.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.1.4->azure-storage-blob->mlflow) (1.14.4)
Collecting isodate>=0.6.0
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 51kB 6.3MB/s
Requirement already satisfied: requests-oauthlib>=0.5.0 in /usr/local/lib/python3.6/dist-packages (from msrest>=0.6.10->azure-storage-blob->mlflow) (1.3.0)
Collecting smmap<4,>=3.0.1
  Downloading https://files.pythonhosted.org/packages/b0/9a/4d409a6234eb940e6a78dfdfc66156e7522262f5f2fecca07dc55915952d/smmap-3.0.4-py2.py3-none-any.whl
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob->mlflow) (2.20)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.5.0->msrest>=0.6.10->azure-storage-blob->mlflow) (3.1.0)
Building wheels for collected packages: databricks-cli, alembic, prometheus-flask-exporter
  Building wheel for databricks-cli (setup.py) ... done
  Created wheel for databricks-cli: filename=databricks_cli-0.14.1-cp36-none-any.whl size=100579 sha256=e7ab43ee92c375762c91ea3979109c4d3bae96954e58e5822ee981bece2bddeb
  Stored in directory: /root/.cache/pip/wheels/82/91/ac/5d417ee5ccbb76c8cca096cf4cfb9ed9d49d889d1d1ca0fc39
  Building wheel for alembic (setup.py) ... done
  Created wheel for alembic: filename=alembic-1.4.1-py2.py3-none-any.whl size=158155 sha256=83d68ff763c34f8ea66d80d9f92ebf0d1c179c5449b9992724934c71b2ce33e5
  Stored in directory: /root/.cache/pip/wheels/84/07/f7/12f7370ca47a66030c2edeedcc23dec26ea0ac22dcb4c4a0f3
  Building wheel for prometheus-flask-exporter (setup.py) ... done
  Created wheel for prometheus-flask-exporter: filename=prometheus_flask_exporter-0.18.1-cp36-none-any.whl size=17159 sha256=6b6856915bbbbced923d107757b8c49419cd44ef9ceaaca786ee068810d01068
  Stored in directory: /root/.cache/pip/wheels/b4/1f/b8/66bd9bc3a9d6c6987ff6c4dfeb6f1fe97b5a0e5ed5849c0437
Successfully built databricks-cli alembic prometheus-flask-exporter
Installing collected packages: databricks-cli, gunicorn, Mako, python-editor, alembic, cryptography, isodate, msrest, azure-core, azure-storage-blob, querystring-parser, smmap, gitdb, gitpython, prometheus-flask-exporter, websocket-client, docker, mlflow
Successfully installed Mako-1.1.3 alembic-1.4.1 azure-core-1.9.0 azure-storage-blob-12.6.0 cryptography-3.3.1 databricks-cli-0.14.1 docker-4.4.0 gitdb-4.0.5 gitpython-3.1.11 gunicorn-20.0.4 isodate-0.6.0 mlflow-1.12.1 msrest-0.6.19 prometheus-flask-exporter-0.18.1 python-editor-1.0.4 querystring-parser-1.2.4 smmap-3.0.4 websocket-client-0.57.0
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (4.41.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (0.14.1)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.15.0)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.19.4)
Collecting pyngrok
  Downloading https://files.pythonhosted.org/packages/ea/63/e086f165125e9bf2e71c0db2955911baaaa0af8947ab5c7b3771bdf4d4d5/pyngrok-5.0.0.tar.gz
Requirement already satisfied: PyYAML in /usr/local/lib/python3.6/dist-packages (from pyngrok) (3.13)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.0.0-cp36-none-any.whl size=18781 sha256=f0c8d79dae7ea5bd96111063f72bf1ec90eed2ff46fe4ffc66d99cb8496d21fd
  Stored in directory: /root/.cache/pip/wheels/95/df/23/af8dde08c3fcdc7b966adcacef48ab29aa3b0b1860df5d2b79
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.0.0

In [ ]:
import numpy as np
import pandas as pd
import pyspark
import os
import urllib
import sys
import mlflow
from pyngrok import ngrok
from pyspark.sql.functions import *
from pyspark.ml.classification import *
from pyspark.ml.evaluation import *
from pyspark.ml.feature import *

our feature columns are always after the **rating_binary** column

In [ ]:
feature_cols = sqlc_truncated_ratings.columns[5:]
print(feature_cols)

['nb_previous_ratings', 'avg_previous_ratings']

In [ ]:
assembler = pyspark.ml.feature.VectorAssembler(inputCols=feature_cols, outputCol="features")
sqlc_truncated_ratings = assembler.transform(sqlc_truncated_ratings)

We label the our vectors features and classes

In [ ]:
sqlc_truncated_ratings = sqlc_truncated_ratings.select(["features", "rating_binary"])
label_indexer = pyspark.ml.feature.StringIndexer(inputCol="rating_binary", outputCol="label").fit(sqlc_truncated_ratings)
sqlc_truncated_ratings = label_indexer.transform(sqlc_truncated_ratings)
sqlc_truncated_ratings = sqlc_truncated_ratings.select(["features", "label"])

In [ ]:
train, test = sqlc_truncated_ratings.randomSplit([0.80, 0.20])
reg = 0.01

In [ ]:
with mlflow.start_run(run_name="MLflow on Colab"):
   lr = pyspark.ml.classification.LogisticRegression(regParam=reg)
   model = lr.fit(train)
   prediction = model.transform(test)
   evaluator =pyspark.ml.evaluation.BinaryClassificationEvaluator(metricName="areaUnderROC")
   aucroc = evaluator.evaluate(prediction)
   mlflow.log_param("Regularization", reg)
   mlflow.log_metric("areaUnderROC", aucroc)
   #mlflow.log_metric("accuracy", acc)
   #mlflow.log_metric("recall", recall)
   mlflow.spark.log_model(model, "spark-model")

In [ ]:
get_ipython().system_raw("mlflow ui --port 5000 &")
ngrok.kill()
NGROK_AUTH_TOKEN = "1lzK2WgGsmil7u2C8yFD1e5Kb7a_57445NZHtq96VpTdaES1X"
ngrok.set_auth_token(NGROK_AUTH_TOKEN)
ngrok_tunnel = ngrok.connect(addr="5000", proto="http", bind_tls=True)
print("MLflow Tracking UI:", ngrok_tunnel.public_url)

t=2020-12-22T04:43:03+0000 lvl=warn msg="can't bind default web address, trying alternatives" obj=web addr=127.0.0.1:4040

MLflow Tracking UI: https://a9945401b87b.ngrok.io